@font-face {
    font-family: 'determination_sans_webregular';
    src: url('fonts/determinationsanswebregular-369x-webfont.woff2') format('woff2'),
    url('fonts/determinationsanswebregular-369x-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'determination_mono_webregular';
    src: url('fonts/determinationmonowebregular-z5oq-webfont.woff2') format('woff2'),
    url('fonts/determinationmonowebregular-z5oq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: determination_mono_webregular, serif;
    background-color: black;
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play {
    background-color: black;
    color: #ed7905;
    border: 2px solid #ed7905;
    margin: 4px 8px 8px;
}

.info {
    display: flex;
    flex-direction: column;
    border: 3px solid ghostwhite;
    padding: 30px;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scores * {
    margin: 8px 8px 4px;
}

img {
    width: fit-content;
    height: fit-content;
    align-self: center;
}